<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div id="app">
    <el-select v-model="v_tag" @change="print_tag" placeholder="请选择报表类型">
        <el-option
                v-for="item in tagOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="v_db" @change="dbChange" placeholder="请选择数据库">
        <el-option
                v-for="item in dbInfoOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>

    <el-select v-model="v_table" @change="tableChange" placeholder="请选择数据表">
        <el-option
                v-for="item in tableInfoOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="v_dimension" multiple placeholder="请选择维度">
        <el-option
                v-for="item in tableColumnOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="v_measurement" multiple placeholder="请选择度量">
        <el-option
                v-for="item in tableColumnOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="v_op" placeholder="请选择算子">
        <el-option
                v-for="item in opOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    <el-button type="info" @click="chartLoad">生成报表</el-button>
    {% for item in tags %}
    <div v-if="v_tag === '{{ item }}'">
        <{{ item }} :data="chartData"></{{ item }}}>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">

    var tagMap ={{ tagMap|safe }};
    var dbInfoes ={{ dbInfoes|safe }};
    var tableInfoes ={{ tableInfoes|safe }};
    var opMap ={{ opMap|safe }};


    var tagOption = [];
    for (k in tagMap) {
        v = tagMap[k];
        tagOption[tagOption.length] = {
            value: v,
            label: k
        }
    }

    var dbInfoOption = [];
    for (var i = 0; i < dbInfoes.length; i++) {
        dbInfo = dbInfoes[i];
        dbInfoOption[dbInfoOption.length] = {
            value: dbInfo.id,
            label: dbInfo.name,
        }
    }


    var opOption = [];
    for (k in opMap) {
        v = opMap[k];
        opOption[opOption.length] = {
            value: v,
            label: k,
        }
    }
</script>
<script type="text/javascript">
    vm = new Vue({
        el: '#app',
        data: {
            tagOption: tagOption,
            dbInfoOption: dbInfoOption,
            tableInfoOption: [],
            tableColumnOption: [],
            opOption: opOption,
            v_tag: "",
            v_db: "",
            v_table: "",
            v_dimension: "",
            v_measurement: "",
            v_op: "",
            chartData: {
                "columns": [],
                "rows": []
            }
        },
        created: function () {

        },
        methods: {
            dbChange: function () {
                tableInfoOption = [];
                for (var i = 0; i < tableInfoes.length; i++) {
                    tableInfo = tableInfoes[i];
                    if (tableInfo.db_id != this.v_db) {
                        continue
                    }
                    foundFlag = false;
                    for (var j = 0; j < tableInfoOption.length; j++) {
                        if (tableInfo.table_name == tableInfoOption[j].label) {
                            foundFlag = true;
                        }
                    }
                    if (!foundFlag) {
                        tableInfoOption[tableInfoOption.length] = {
                            value: tableInfo.table_name,
                            label: tableInfo.table_name,
                        }
                    }
                }
                this.tableInfoOption = tableInfoOption;
            },
            tableChange: function () {
                var tableColumnOption = [];
                for (var i = 0; i < tableInfoes.length; i++) {
                    tableInfo = tableInfoes[i];
                    if (tableInfo.table_name != this.v_table) {
                        continue
                    }
                    tableColumnOption[tableColumnOption.length] = {
                        value: tableInfo.id,
                        label: tableInfo.name,
                    }
                }
                this.tableColumnOption = tableColumnOption;
            },
            chartLoad: function () {
                var loadingInstance = ELEMENT.Loading.service({
                    fullscreen: true,
                    text: "努力计算和加载报表数据",
                });
                var that = this;
                this.$http({
                    url: '/admin/chart/query',
                    method: 'POST',
                    body: {
                        "v_db": that.v_db,
                        "v_table": that.v_table,
                        "v_op": that.v_op,
                        "v_dimension": that.v_dimension.join(","),
                        "v_measurement": that.v_measurement.join(","),
                    },
                    emulateJSON: true,
                }).then(function (response) {
                    loadingInstance.close();
                    var d = response.data;
                    that.chartData.columns = d.columns;
                    that.chartData.rows = d.rows;
                }, function () {
                    loadingInstance.close();
                });
            },
            print_tag:function () {
                console.log(">>>>>>>")
                console.log(this.v_tag)
                console.log("<<<<<<<")
            }
        }
    })
</script>
</body>
</html>