<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<div id="app">
    <el-tooltip class="item" effect="dark" content="创建一条记录" placement="right">
        <el-button type="primary" @click="createFlag = true" size="mini" icon="el-icon-plus"></el-button>
    </el-tooltip>
    <el-table :data="tableData" :row-class-name="tableRowClassName" style="width: 100%">
        <el-table-column prop="id" label="ID"></el-table-column>
        <el-table-column prop="name" label="说明"></el-table-column>
        <el-table-column prop="drivername" label="驱动名"></el-table-column>
        <el-table-column prop="database" label="数据库名"></el-table-column>
        <el-table-column prop="username" label="用户名"></el-table-column>
        <el-table-column prop="password" label="密码"></el-table-column>
        <el-table-column prop="host" label="IP主机"></el-table-column>
        <el-table-column prop="port" label="端口"></el-table-column>
        <el-table-column prop="tableCount" label="表格数量"></el-table-column>
    </el-table>
    <div class="block">
        <el-pagination
                layout="prev, pager, next"
                @current-change="pg_change"
                :page-count="totalPg">
        </el-pagination>
    </div>


    <el-dialog
            title="创建数据"
            :visible.sync="createFlag"
            width="60%">
    <span>

      <el-form :model="create" label-position="right" label-width="200px" :model="formLabelAlign">
        <el-form-item label="名称">
          <el-input v-model="create.name"></el-input>
        </el-form-item>
        <el-form-item label="驱动名">
          <el-input v-model="create.drivername"></el-input>
        </el-form-item>
        <el-form-item label="数据库">
          <el-input v-model="create.database"></el-input>
        </el-form-item>
        <el-form-item label="用户名">
          <el-input v-model="create.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="create.password"></el-input>
        </el-form-item>
        <el-form-item label="主机">
          <el-input v-model="create.host"></el-input>
        </el-form-item>
        <el-form-item label="端口">
          <el-input v-model="create.port"></el-input>
        </el-form-item>
      </el-form>
    </span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="createFlag = false">取 消</el-button>
    <el-button type="primary" @click="add">确 定</el-button>
  </span>
    </el-dialog>
</div>
<script type="text/javascript">

    vm = new Vue({
        el: '#app',
        data: {
            totalPg: 0,
            currentPg: 1,
            tableData: [],
            createFlag: false,
            create: {
                name: '',
                drivername: '',
                database: '',
                username: '',
                password: '',
                host: '',
                port: ''
            },
        },
        created: function () {
            this.pg_change(this.currentPg)
        },
        methods: {
            add: function () {
                this.createFlag = false
                this.$http({
                    url: "/admin/db/save",
                    method: 'POST',
                    body: JSON.stringify(this.create)
                });
            },
            pg_change: function (pg) {
                this.currentPg = pg
                that = this
                this.$http({
                    url: '/admin/db/list/20/' + pg,
                    method: 'POST',
                }).then(function (response) {
                    var d = response.data;
                    that.tableData = d.data;
                    that.totalPg = d.totalPg;
                });
            },
            reload: function () {
                this.pg_change(1)
            }
        }

    })
</script>
</body>
</html>